body {
  background-image: url("images/mountain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


h1 {
  color: lightblue;
  text-align: center;
  font-size: 40pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-right: 170pt;
  padding-left: 170pt;
}

h3 {
  color: white;
  text-align: center;
  font-size: 20pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-right: 170pt;
  padding-left: 170pt;
}

p {
  color: white;
  text-align: left;
  font-size: 14pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-left: 170pt;
}

ul {
  position: fixed;
  left: 0px;
  top: 25px;
  bottom: 25px;
}

li {  
  text-decoration: none;
  list-style-type: none;
  padding: 10pt; 
  padding-left: 5pt;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

.column {
  float: left;
  width: 20%;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  position: relative;
  display: block;
}

div {
  width: 100%;
  margin: 0px auto;
  padding-left: 170pt;
}

