body {
  background-color: black;
}

h1 {
  color: yellow;
  text-align: center;
  font-size: 40pt;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 10% 25%;
  padding-right: 100pt;
}

h3 {
  color: yellow;
  text-align: center;
  font-size: 20pt;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 10% 25%;
  padding-right: 100pt;
}

p {
  color: white;
  text-align: left;
  font-size: 14pt;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 10% 25%;
  padding-left: 100pt;
  padding-right: 200pt;
}

b {
  color: white;
  text-align: left;
  font-size: 14pt;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 10% 25%;
  padding-left: 100pt;
  padding-right: 200pt;
}

ul {
  position: fixed;
  right: 0px;
  top: 25px;
  bottom: 25px;
}

li {  
  text-decoration: none;
  list-style-type: none;
  padding: 10pt; 
  padding-right: 30pt;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

img {
  position: relative;
  display: block;
}
